[2018-05-28 09:38] gazhayes opened #1 "Problem: users cannot track time spent on tasks"
Problem: users cannot track time spent on tasks

A solution should include the following:
- URL field for github issue being worked on.
- a stopwatch. E.g. users click 'start work' after putting in the issue URL and it starts ticking. When they are finished, they click "done" or whatever to stop the timer. This time is automatically logged in their timesheet. A pause button is probably also a good

[2018-05-28 09:41] AshHimself commented on #1
If this is related to timesheets then should an option exist to pause or manually adjust? I understand the driver to this requirement but in reality people never click start and then stop when finished. Things get in the way or people forget what they are doing.

[2018-05-28 10:14] gsovereignty commented on #1
In Blockrazor about 80% of people do, but yeah we have to take into account the people who don't work that way.

Manually editing could be done in this issue or added as a new issue after this one is solved, it's basically the same at this early point in the project.

[2018-05-29 08:22] anbud commented on #1
I'm in that 80%, but I agree that manual editing/adding should be implemented as well.

Claiming this one. :)

[2018-05-30 14:15] anbud commented on #1
Basic functionality is implemented in #2. Manually adjusting times should be logged as an another issue.

I've taken most of the UI from Emurgis to make it look a little bit nicer, but it probably needs some UI love. I haven't implemented real error handling (errors are just logged in the console for now) since we still have to decide what error display mechanism should we use.

I've used `account

[2018-05-30 14:33] #1 closed

[2018-05-30 15:24] samuelralak opened #3 "Problem: users not notified that they need to login"
Problem: Users are currently not notified to log in inorder to start tracking time. Entering a URL and clicking on the `start work` does nothing when user isn't logged in - one would easily assume that it doesn't work.

Solution: Have a notification toast or alert when users clicks on start work notifying the user that they need to login first before they can start tracking time.

[2018-05-30 18:06] anbud commented on #3
Yap, this should be done for all possible errors, as there's no error handling currently. I left it like that as I wasn't sure what type of error handling to use for now.

We could either use toasts/alerts or we could use inline jquery errors.

What are your thoughts?

[2018-05-31 07:13] samuelralak commented on #3
For the current context, I would propose going with the toast - similar to what we have in Emurgis. Though each type of error of handling would have their own use in different contexts as the application grows.

[2018-05-31 08:31] anbud commented on #3
Ok, you're right, we can use a toast here.

Claim.

[2018-05-31 11:02] anbud commented on #3
@emurgobot label "done"

[2018-05-31 12:40] anbud commented on #3
Done in #4.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-05-31 17:32] #3 closed

[2018-06-01 05:00] gazhayes opened #5 "Problem: freelancer's details are not tracked"
Problem: freelancer's details are not tracked.

Solution: required details are:

Name, github username, payment method (Paypal, SWIFT bank transfer, Bitcoin, Cardano).

[2018-06-01 05:02] samuelralak commented on #5
Should these details be required before user starts tracking time?

On Fri, 1 Jun 2018 at 08:00, Gareth Hayes <notifications@github.com> wrote:

[2018-06-01 05:56] gsovereignty commented on #5
Yeah, so I guess maybe part of the signup process.

[2018-06-01 05:59] gazhayes opened #6 "Problem: github issue not verified"
Problem: users can submit anything as a github issue.

Solution: verify URL, but also use github API to verify the issue actually exists.

[2018-06-01 07:58] samuelralak commented on #5
We can leave out the name as part of the signup process, let the user enter an email instead, preferably Gmail.

Alternatively, we could enable github sign in and have user enter payment details as an after sign up process. Makes sign up fast and we would also not have to do an additional verification process.

[2018-06-01 07:58] samuelralak commented on #6
@emurgobot claim

[2018-06-01 08:00] samuelralak commented on #6
alright Mr. Emurgobot. I haven't claimed anything in this repo yet but its cool. its cool.

[2018-06-01 08:08] gsovereignty commented on #5
Ah duh.... Why didn't I think of this before. We should use Github sign in since everyone needs github anyway.

[2018-06-01 08:08] gazhayes opened #7 "Problem: cannot sign in with github"
ping @anbud

[2018-06-01 08:58] AshHimself commented on #6
BUSTED!

On Fri, 1 Jun 2018 at 4:00 pm, Samuel Ralak <notifications@github.com>
wrote:

[2018-06-01 09:38] anbud commented on #6
He's actually counting all issues on all repos he's watching, which is a little bit unexpected as the message says in this repository, but that's why this happens I believe. :)

[2018-06-01 09:38] anbud commented on #7
Shall be done.
@emurgobot claim

[2018-06-01 10:32] samuelralak commented on #6
lol, I figured 😅

[2018-06-01 14:00] anbud commented on #7
Done in #8.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-01 14:01] anbud commented on #5
@emurgobot claim

[2018-06-01 14:29] anbud commented on #5
Done in #9.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-01 15:02] samuelralak commented on #6
@anbud getting this with fibers. Its been giving me trouble for the past hour or so. Do you have any idea on how to fix this? Please advise
<img width="904" alt="screen shot 2018-06-01 at 6 00 11 pm" src="https://user-images.githubusercontent.com/4476552/40847698-c5cb59a0-65c5-11e8-8fcb-cf9841ab3b33.png">

[2018-06-01 15:06] anbud commented on #6
I've seen it numerous times, it just says that you cannot use fibers on client, they're server only.

Either run the code on the server (as a method or something), or use ordinary callbacks/promises on client. :)

[2018-06-01 15:08] samuelralak commented on #6
am actually trying to use it inside a server method 🤔

[2018-06-01 15:15] #7 closed

[2018-06-01 15:15] #5 closed

[2018-06-01 15:16] gsovereignty commented on #6
FYI use async/await if possible in preference to promises and callbacks

[2018-06-01 15:24] anbud commented on #6
Then the code gets imported to the client as well. Check where it's imported or wrap it with `Meteor.isServer` block and it should do the trick.

[2018-06-02 23:02] samuelralak commented on #6
decided to go with `async/await`. Meteor.isServer also came in handy

[2018-06-02 23:02] samuelralak commented on #6
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-02 23:03] samuelralak commented on #6
done in [#10](https://github.com/EmurgoHK/Emurgolance/pull/10)

[2018-06-03 02:09] #6 closed

[2018-06-16 11:40] samuelralak opened #11 "Problem: The UI is ugly and needs to be fixed"
Problem: The overall UI is ugly and not presentable. No styling has been used.

Solution: Add CoreUI to the project.

[2018-06-16 11:43] samuelralak opened #12 "Problem: users unable to update details"
Problem: There is currently no way for users to update their information such as the the payement details once enetered.

Solution: Implement a settings page where freelancers can add or update personal information.

[2018-06-16 11:51] samuelralak opened #13 "Problem: No test framework has been implemented"
Problem: No test framework has been added to Emurgolance. There is no way to run client side and server side tests.

ping @anbud

[2018-06-16 11:56] samuelralak opened #14 "Problem: Freelancers unable to track earnings"
Problem: Emurgolance only tracks time and there's currently no way for freelancers to specify rates and track their cumulative earnings.

Potential solution: Allow freelancer to set a rate and have the client confirm or approve it.

ping @anbud @gazhayes

[2018-06-16 12:01] gsovereignty commented on #14
Sounds good to me

[2018-06-16 12:05] anbud commented on #14
@emurgobot claim

[2018-06-16 12:09] gazhayes opened #15 "Problem: emurgolance does not automatically add project name"
Problem: emurgolance does not automatically add the project name to the created object.

Solution: use the github URL to get the project name and add this to the object so that it can be used throughout the app to produce totals for each project etc.

[2018-06-16 21:28] anbud commented on #12
I'll take this one and implement #14 as a part of the settings page. It seems like the simplest solution here.

@emurgobot claim

[2018-06-16 22:00] dilpreetsio commented on #15
@emurgobot claim

[2018-06-16 22:28] dilpreetsio commented on #15
Done in #16

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-16 22:40] anbud commented on #14
Done in #17.

@emurgobot label "done"

[2018-06-16 22:41] anbud commented on #12
Done in #17.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-16 22:41] anbud commented on #13
@emurgobot claim

[2018-06-16 22:44] geekyd opened #18 "Problem: buggy validation for github issue"
Problem: buggy validation for github issue. This allows users to not only log any github url.
![screen shot 2018-06-17 at 4 14 25 am](https://user-images.githubusercontent.com/12807846/41502979-fe7f456a-71e4-11e8-8287-ecb151d95110.png)

Solution: Improve `validateGithubIssue` method to make sure user can only log a valid github issue

[2018-06-16 22:44] dilpreetsio commented on #18
@emurgobot claim

[2018-06-16 22:51] anbud commented on #13
Done in #19.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-17 00:54] #15 closed

[2018-06-17 01:41] dilpreetsio commented on #18
Done in #20

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-17 02:17] #18 closed

[2018-06-17 09:28] #12 closed

[2018-06-17 09:28] #13 closed

[2018-06-17 09:28] #14 closed

[2018-06-17 13:18] samuelralak commented on #11
@emurgobot claim

[2018-06-17 13:19] samuelralak commented on #11
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-17 13:19] samuelralak commented on #11
done in #21

[2018-06-17 13:22] samuelralak opened #22 "Problem: Wrong location of sign in and settings links"
Problem: The settings and and login links are located inside the main body of the page. This looks ugly and compromises the pages UI-UX.

Solution: Move login and settings to header

[2018-06-17 13:22] samuelralak commented on #22
@emurgobot claim

[2018-06-17 13:30] #11 closed

[2018-06-17 13:34] samuelralak opened #23 "Problem: Settings page has bad UI-UX"
Problem: Radio buttons on the settings page are not aligned correctly and the general layout of the page isn't consistent with CoreUI

Solution: update form elements and page layout

[2018-06-18 00:47] geekyd opened #24 "Problem: sign in button in the header is not functional"
Problem: sign in button in the header is not functional

Solution: Add functionality to the buttons in header

[2018-06-18 00:47] dilpreetsio commented on #24
@emurgobot claim

[2018-06-18 01:47] gsovereignty commented on #24
We only need to allow sign up/in with github

[2018-06-18 01:54] dilpreetsio commented on #24
@gazhayes Yes, I have done the same :)

Done in #25

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-18 01:56] geekyd opened #26 "Problem: bad UI & position for the time logged & earnings"
Problem: bad UI & position for the time logged & earnings

Solution: Improve the UI for the earnings & timing.

[2018-06-18 01:57] dilpreetsio commented on #26
@emurgobot claim

[2018-06-18 02:26] samuelralak commented on #24
was actually working on this. I believe I have an issue thats very much
related to this one

On Mon, 18 Jun 2018 at 04:54, Dilpreet Singh <notifications@github.com>
wrote:

[2018-06-18 02:40] dilpreetsio commented on #24
@samuelralak I'm really sorry I did not realise that. My bad.

[2018-06-18 02:40] dilpreetsio commented on #26
Done in #27

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-18 02:44] samuelralak commented on #24
it’s alright chief, no biggie. don’t worry about it.

On Mon, 18 Jun 2018 at 05:40, Dilpreet Singh <notifications@github.com>
wrote:

[2018-06-18 13:11] samuelralak commented on #22
@emurgobot remove "in progress"

[2018-06-18 13:11] samuelralak commented on #22
@emurgobot label "done"

[2018-06-18 13:13] samuelralak commented on #23
@emurgobot claim

[2018-06-18 13:30] samuelralak commented on #23
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-18 13:31] samuelralak commented on #23
done in #29

[2018-06-18 13:31] #22 closed

[2018-06-18 13:47] samuelralak opened #30 "Problem: [/moderator/users] moderator page has bad ui-ux"
Problem: moderator page looks ugly and there is no way to navigate to the main site.

Solution: update moderator pages with CoreUI themes

[2018-06-18 13:52] samuelralak opened #31 "Problem: users cannot specify payment details"
Problem: currently users can only select payment methods but are unable to add payment details such as the bank details, wallet addresses for respective cryptos or paypal email.

Solution: Allow users to add payment details depending on the selected payment method

[2018-06-18 13:59] samuelralak commented on #30
@emurgobot claim

[2018-06-18 15:04] samuelralak commented on #30
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-18 15:04] samuelralak commented on #30
done in #32

[2018-06-18 15:05] samuelralak commented on #31
@emurgobot claim

[2018-06-18 23:36] #24 closed

[2018-06-18 23:36] #26 closed

[2018-06-19 06:59] #23 closed

[2018-06-19 06:59] #30 closed

[2018-06-19 07:02] samuelralak commented on #31
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-19 07:02] samuelralak commented on #31
done in #33

[2018-06-21 16:57] #31 closed

[2018-06-21 18:19] samuelralak opened #34 "Problem: Total earnings calculation does not account for promotions"
Problem: Total earnings currently takes total number of hours worked and multiplies it by the freelancer's current hourly rate. This value becomes inaccurate when the freelancer's hourly is changed - it will not account for tasks done with a different hourly rate before change.

Solution: include user's hourly rate and track earning per timesheet (calculated by multiplying task's total time and tr

[2018-06-21 18:23] samuelralak opened #35 "Problem: user's unable to specify payment milestone"
Problem: a payment milestone is the total cumulative amount the freelancer should earn before he/she can request for payment - this is currently not tracked or recorded. freelancers should be allowed to specify a payment milestone and request for payment once that milestone is reached.

Solution: Track payment milestone in user settings

[2018-06-21 18:26] samuelralak opened #36 "Problem: user's unable to request for payment"
Problem: Freelancer's cannot request payment for work done.

Potential Solution: have a pay out button that users can click when a payment milestone is reached or when they need to get paid

[2018-06-21 18:27] samuelralak commented on #34
@emurgobot claim

[2018-06-21 18:30] samuelralak opened #37 "Problem: no client side tests have been written"
Problem: No client side tests have been written, this leaves room for UI regression.

Solution: write UI tests

[2018-06-21 18:33] samuelralak opened #38 "Problem: so server side tests have been written"
Problem: Server  side tests have not been added.

Solution: Write server side tests for existing code.

[2018-06-22 09:04] anbud commented on #37
@emurgobot claim

[2018-06-22 20:21] anbud commented on #37
Done in #39.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-22 20:22] anbud commented on #38
@emurgobot claim

[2018-06-22 21:39] anbud commented on #38
Done in #40.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-22 23:37] AshHimself opened #41 "Problem: unable to login"
Problem: unable to login, when I try login I get the error 'Uncaught ReferenceError: notify is not define'

Solution: Fix the dependencies issues.

[2018-06-23 01:06] gsovereignty commented on #36
It's probably better to allow freelancers to set a minimum amount for payouts (e.g there's often overhead and it can be different for each payment type depending on the freelancer's location).

[2018-06-23 04:09] AshHimself commented on #41
Fixed in #42
@emurgobot label "done"
@emurgobot done

[2018-06-23 04:10] AshHimself commented on #41
@emurgobot claim

[2018-06-23 04:10] AshHimself commented on #41
Fixed in #42
@emurgobot label "done"
@emurgobot done

[2018-06-23 04:17] AshHimself commented on #36
@emurgobot claim

[2018-06-23 05:01] AshHimself commented on #36
@gazhayes - to confirm, set a min payout or something then when reached perhaps another process is kicked off?
Min payout? maybe $200USD or something?

[2018-06-23 06:06] gsovereignty commented on #36
From my side, I kind of want to limit the payments to like once a week.

In addition, it's probably best that I set the overhead on my side (deducted from freelancer's payment) and the freelancer is responsible for working out the overhead on their side. Then they can set a minimum and maximum payment amount (some balance between the overhead and "I need money now")  and then it can be processed i

[2018-06-23 06:07] gsovereignty commented on #36
Just let me know if that makes sense or not lol

[2018-06-23 07:01] samuelralak commented on #36
@AshHimself @gazhayes #35 is very much related. @AshHimself you could claim that as well

[2018-06-23 08:51] AshHimself commented on #36
cheers mate! i'll grab it so we don't get any conflicts!

[2018-06-23 08:52] AshHimself commented on #36
@gazhayes - it does make sense mate, but don't worry the C4 will sort it if I get it wrong ;)

[2018-06-24 11:42] #41 closed

[2018-06-24 18:30] #38 closed

[2018-06-24 18:30] #37 closed

[2018-06-24 20:25] samuelralak commented on #34
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-24 20:25] samuelralak commented on #34
done in #43

[2018-06-25 06:54] #34 closed

[2018-06-26 08:27] AshHimself commented on #36
@gazhayes - guessing you can only request payments to a timesheet if you have marked it as finished.. well that's what I did but just putting this here so you can clarify.. this is a bit of a beast of a PR but lots has been done :D

[2018-06-26 23:38] AshHimself commented on #35
@emurgobot claim

[2018-06-26 23:39] AshHimself opened #44 "problem: no tests exist for the payment request process"
solution: create tests

[2018-06-26 23:43] AshHimself commented on #36
Fixed in #45
@emurgobot label "done"
@emurgobot done

@gazhayes - Surely some work will be needed to perfect this process but this is a good start. The Payment page for sure needs to have some filters and search etc.

[2018-06-26 23:44] AshHimself opened #46 "problem: unable to search or filter on payments"
solution: Add ability to search and filter on 'pay and not paid' payments.

[2018-06-26 23:45] AshHimself opened #47 "problem: Unable to review timesheets related to a payment"
solution: timecards are flagged with the paymentId when a payment is requested. To assist Emurgo in reviewing the payment amount it would help to be able to review the related to timesheets.

[2018-06-26 23:45] AshHimself commented on #35
Fixed in #45
@emurgobot label "done"
@emurgobot done

[2018-06-27 00:21] AshHimself commented on #47
@emurgobot claim

[2018-06-27 08:35] anbud commented on #44
@emurgobot claim

[2018-06-27 08:37] AshHimself commented on #44
@anbud - if you see any ways I can improve this process (not related for tests) go for it! Happy to improve myself at the same time :)

[2018-06-27 12:26] anbud commented on #44
@AshHimself, as far as I can see, everything seems fine in the process. :)
Tests should be done in #49.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-27 12:27] anbud commented on #46
@emurgobot claim

[2018-06-27 12:53] anbud commented on #46
Done in #50.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-27 17:19] #36 closed

[2018-06-27 17:19] #35 closed

[2018-06-29 11:49] samuelralak opened #51 "Problem: OAuth credentials purged on app start up"
Problem: Github OAuth credentials get replaced with invalid ones when app starts up.

[2018-06-29 11:49] samuelralak commented on #51
@emurgobot claim

[2018-06-29 12:05] samuelralak commented on #51
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-29 12:05] samuelralak commented on #51
done in #52

[2018-06-29 12:08] samuelralak opened #53 "Problem: difficult to create multiple new accounts in development"
Problem: Only github oauth is currently supported making it hard to create new accounts in development without having mulitple Github accounts.

Solution: add accounts-password in development and allow users to either sign up/sign in using both Github and email/password

[2018-06-29 12:09] samuelralak commented on #53
@emurgobot claim

[2018-07-01 04:26] gazhayes opened #54 "problem: cannot add emurgis issues"
problem: cannot add emurgis issues. We can add github issues but not emurgis issues.

Any solution should take into account the fact that we are currently running on port 8000 but this will be changed to 80 later.

[2018-07-01 04:58] samuelralak commented on #54
@emurgobot label "unmet dependency"

[2018-07-01 05:03] samuelralak commented on #54
- [x] depends on Emurgis [issue #343](https://github.com/EmurgoHK/Emurgis/issues/343)

[2018-07-01 09:39] samuelralak commented on #54
@emurgobot claim

[2018-07-02 11:57] AshHimself commented on #47
Fixed in #55
@emurgobot label "done"
@emurgobot done

[2018-07-02 12:04] AshHimself opened #56 "problem: unable to select what payments to pay"
solution: add functionality to select what payments are to be paid

[2018-07-02 12:04] AshHimself commented on #56
@emurgobot claim

[2018-07-08 13:06] AshHimself commented on #56
Fixed in #57
@emurgobot label "done"
@emurgobot done

[2018-07-08 13:14] AshHimself opened #58 "problem: unable to state why a timecard is rejected"
solution: Must provide a reason if a timecard is not approved and also a means for it to be approved.

@gazhayes

[2018-07-08 13:16] AshHimself commented on #58
@emurgobot claim

[2018-07-09 15:44] samuelralak commented on #53
yes sir

On Mon, 9 Jul 2018 at 18:43, Emurgo Bot <notifications@github.com> wrote:

[2018-07-11 12:48] AshHimself commented on #58
@samuelralak @anbud I just did a PR on this and burned a lot of time trying to damn well figure out the schema schema design. Not sure what's going on. Mind taking a look when you get a chance if not i'll dive back into her tomorrow. Cheers lads.

[2018-07-11 12:49] anbud commented on #58
@AshHimself, don't worry about it, I'll take a look later today. :)

[2018-07-11 18:27] anbud commented on #58
@AshHimself, it should be fixed in #61.

[2018-07-12 07:05] AshHimself commented on #58
Legend! let me look at your code tonight and see what stupid mistakes I was making :)

[2018-07-12 07:05] AshHimself commented on #58
Sometimes I think its best to ask for help then just keep digging in a hole i'm not going to get out of :D

[2018-07-15 21:32] anbud commented on #54
@samuelralak, are you still working on this, or can I take it? :)

[2018-07-16 07:23] samuelralak commented on #54
Hey @anbud will make a PR for this later on today

[2018-07-23 02:12] gsovereignty commented on #54
How are you going on this?

[2018-07-23 20:37] anbud commented on #58
@AshHimself, didn't you solve this one already?

[2018-07-27 11:25] gazhayes opened #62 "problem: minimum payout is too low"
problem:
<img width="356" alt="screen shot 2018-07-27 at 7 21 35 pm" src="https://user-images.githubusercontent.com/8143945/43318272-a9b5705a-91d2-11e8-8441-9b592520deee.png">

Solution: allow the minimum payout to be anything from 0 to 5000

[2018-07-27 12:02] gazhayes opened #63 "problem: users can start work before being approved"
problem: users can start work before being approved

solution: add a 'pending' warning bar at the top of the page until the user has been approved by a moderator.

[2018-07-27 14:50] dilpreetsio commented on #62
@emurgobot claim

[2018-07-27 15:15] dilpreetsio commented on #62
Fixed in #64
@emurgobot label "done"
@emurgobot done

[2018-07-27 15:16] dilpreetsio commented on #63
@emurgobot claim

[2018-07-27 15:37] dilpreetsio commented on #63
Fixed in #65
@emurgobot label "done"
@emurgobot done

[2018-07-28 17:58] samuelralak commented on #53
@emurgobot claim

[2018-07-28 17:59] samuelralak commented on #53
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-07-28 17:59] samuelralak commented on #53
done in #66

[2018-07-29 09:07] #63 closed

[2018-07-29 09:08] #62 closed

[2018-07-29 09:11] gazhayes opened #67 "problem: emurgolance not used in production"
problem: emurgolance is not being used in production by freelance developers at Emurgo.

solution: starting August 1st, the following devs please track your hours in Emurgolance (emurgolance.org) instead of using google spreadsheets, and log/fix any issues you face.

@anbud
@samuelralak
@AshHimself

Then in September we can roll it out for all freelancers.

[2018-07-29 11:27] anbud commented on #67
Deal, I'll start using it from August.

[2018-07-29 11:32] samuelralak commented on #67
roger that

On Sun, 29 Jul 2018 at 14:27, Andrej Budinčević <notifications@github.com>
wrote:

[2018-07-29 11:33] samuelralak commented on #67
quick question, what would happen to the already tracked hours in the
timesheets?

On Sun, 29 Jul 2018 at 14:31, Samuel Ralak <thesamuelralak@gmail.com> wrote:

[2018-07-29 11:34] gsovereignty commented on #67
I'll just add them up manually

[2018-07-31 06:33] samuelralak commented on #54
@emurgobot remove "in progresss"
@emurgobot label "done"

[2018-07-31 06:33] samuelralak commented on #54
done in #68

[2018-07-31 06:33] samuelralak commented on #54
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-07-31 06:34] #53 closed

[2018-08-04 11:23] AshHimself opened #69 "problem: unable to modify timecards"
solution: add ability to change timecards and have an audit history of doing so? or perhaps add timecards without using the time indicator functionality? This is obviously more of a suggestion as it could happen (like today) where I left the timer on :)

[2018-08-04 11:48] anbud commented on #69
Yap, this could also happen if you're using an unstable internet connection.

Saving history of edits per timesheet should be sufficient for now. This history can also include all pauses inbetween. We should probably also let users delete their timesheets if they've accidentally logged something.

@emurgobot claim

[2018-08-04 20:46] anbud commented on #69
Done in #69.

[2018-08-05 09:33] #69 closed

[2018-08-05 09:34] AshHimself opened #71 "problem: its possible to modify timecards with 0.00"
solution: add validation on timecards edits to ensure a time exists

@anbud

![image](https://user-images.githubusercontent.com/148682/43684606-c16aec16-98d5-11e8-833e-7eef0d4a452b.png)

[2018-08-05 09:44] anbud commented on #71
Oh yeah, I forgot about this case. It shall be fixed.

@emurgobot claim

[2018-08-05 10:56] #58 closed

[2018-08-05 10:57] AshHimself commented on #67
@samuelralak - you can actually add them in manually now if you prefer.

[2018-08-06 10:50] anbud commented on #71
Done in #72.

[2018-08-06 19:48] anbud opened #73 "Problem: No confirmation dialogs"
Problem: When using dangerous actions (delete, edit, approve), users should be presented with a confirmation dialog to prevent accidental clicks.

Solution: Implement confirmation dialogs for all dangerous actions.

[2018-08-06 19:49] anbud commented on #73
@emurgobot claim

[2018-08-07 11:42] anbud commented on #73
Done in #74.

[2018-08-10 10:03] #73 closed

[2018-08-10 10:21] anbud opened #75 "Problem: Users can't provide a reason for timecard edits"
Problem: When editing the total time of a timecard, the user cannot provide a reason for the particular edit. Saving edit reasons in the edit history would provide more insight to moderators.

Solution: Show a modal when editing the timecard that will allow users to enter a reason why they're editing the timecard. Reason can be optional, of course.

@emurgobot claim

[2018-08-10 11:18] anbud commented on #75
Done in #76.

[2018-08-10 11:57] #75 closed

[2018-08-25 18:40] samuelralak opened #77 "problem: bad UI/UX in settings page"
problem: the request_payment and hidden_modals buttons supersedes the primary action button - the save button - in the settings page. This is bad user experience. The color of the reset hidden modals button gives the the impression thats its destructive action yet its not.

solution: move the save button to the left side of the page. move the request_payment and reset_hidden_modals buttons below t

[2018-08-25 18:42] samuelralak opened #78 "problem: inactive icons on top navigation menu"
problem: inactive icons on top navigation menu

solution: comment out inactive icons for the time being before actual functionality is developed for those.

[2018-08-25 18:42] samuelralak commented on #77
@emurgobot claim

[2018-08-25 18:47] samuelralak opened #79 "problem: user not redirected to login when on settings page"
problem: the user isn't redirected back to login when on a protected page e.g settings page. not certain whether this happens on all protected pages.

solution: redirect users back to login when they log out on a protected page.

[2018-08-25 18:58] anbud commented on #79
@emurgobot claim

[2018-08-25 19:24] samuelralak commented on #77
no need for the switch

[2018-08-25 19:34] samuelralak commented on #77
done in #80

[2018-08-25 19:35] samuelralak commented on #78
@emurgobot claim

[2018-08-25 19:45] samuelralak commented on #78
done in #81

[2018-08-25 19:48] samuelralak opened #82 "problem: approval-pending message shown when user is unauthenticated"
problem: the approval-pending on the message is still shown when user is logged out. This should only show when there is an active user session.

solution: check if user is logged in before showing the approval-pending (only show for unapproved users)

[2018-08-25 19:57] samuelralak opened #83 "problem: unable to use emurgolance.org"
problem: emurgolance.org keeps on perpetually refreshing itself from my end and it doesn't load completely when trying to access in an incognito browser window. Not certain if am the the only one experiencing this.

ping @gazhayes @anbud @AshHimself

[2018-08-25 19:58] anbud commented on #83
It refreshed once in the last hour, but it seems to be working properly now, at least for me.

[2018-08-25 20:04] samuelralak commented on #83
not really sure whats going on. Just tried it on Firefox and its working fine. This is strange, lol.

[2018-08-25 20:04] #83 closed

[2018-08-25 20:05] #77 closed

[2018-08-25 20:05] #78 closed

[2018-08-25 20:29] anbud commented on #79
Done in #84.

[2018-08-25 20:30] anbud commented on #82
@emurgobot claim

[2018-08-25 20:38] anbud commented on #82
Done in #85.

[2018-08-25 20:55] #79 closed

[2018-08-30 10:33] #54 closed

[2018-08-30 10:34] gazhayes opened #86 "Problem: moderator cannot see requested payments"
Problem: moderator cannot see requested payments

<img width="1652" alt="screen shot 2018-08-30 at 6 33 54 pm" src="https://user-images.githubusercontent.com/8143945/44846576-4dc13100-ac83-11e8-8fee-7ff264eac761.png">

[2018-08-30 10:38] dilpreetsio commented on #86
@emurgobot claim

[2018-08-30 11:50] dilpreetsio commented on #86
Done in #87

[2018-08-31 11:57] anbud opened #88 "Problem: Weird time formatting after 24 hours"
Problem: When you pass 24 logged hours, the 'time logged' field looks weird as it shows the number of days passed as well.

![image](https://i.imgur.com/xBmAgUf.png)

Solution: Fix the time formatting.

[2018-08-31 12:21] anbud commented on #88
Done in #89.

[2018-09-01 12:24] gazhayes opened #90 "problem: total hours not shown"
problem: in the moderator payments view the total hours selected is not being updated.

<img width="245" alt="screen shot 2018-09-01 at 8 21 27 pm" src="https://user-images.githubusercontent.com/8143945/44945939-f22ea900-ae24-11e8-8da3-5ed8843f8d54.png">

[2018-09-01 12:29] gazhayes opened #91 "problem: have to copy/paste github issue addresses to open them"
problem: on the moderator view, you have to copy/paste github issue addresses to open them

<img width="474" alt="screen shot 2018-09-01 at 8 27 28 pm" src="https://user-images.githubusercontent.com/8143945/44945974-9ca6cc00-ae25-11e8-93e3-16c0f172e870.png">

solution: make 'em links

[2018-09-01 12:30] gazhayes opened #92 "problem: moderators can't see user's work until they request a payment"
problem: moderators can't see user's work until they request a payment

solution: add a user detail page or something where a user's issues and times can be seen. Also add a page linking to all users' detail pages.

[2018-09-01 12:51] anbud commented on #92
I was just thinking about this. I'll take it. :)

@emurgobot claim

[2018-09-01 17:30] samuelralak commented on #91
@emurgobot claim

[2018-09-01 17:36] samuelralak commented on #91
done in #93

[2018-09-01 17:37] samuelralak commented on #90
@emurgobot claim

[2018-09-01 17:53] samuelralak commented on #90
Getting this error when I navigate to the admin's payment page. @anbud have you seen this before?
<img width="848" alt="screen shot 2018-09-01 at 8 52 49 pm" src="https://user-images.githubusercontent.com/4476552/44948587-0e344980-ae29-11e8-9ae3-880115f8e7c5.png">

[2018-09-01 17:57] anbud commented on #90
Hey, yeah, I've seen it today, I thought it was just happening locally for me. Remove the userId parameter from paymets publish function in payments/server/publications.js and it'll start working again.

[2018-09-01 17:59] samuelralak commented on #90
sweet. thanks

[2018-09-01 18:03] samuelralak commented on #91
not yet entirely done

[2018-09-01 18:04] dilpreetsio commented on #90
@samuelralak Just make sure that the changes do not reinitiate https://github.com/EmurgoHK/emurgolance/issues/86. :)

[2018-09-01 18:06] samuelralak commented on #90
@geekyd cool. will do

[2018-09-01 18:10] samuelralak commented on #91
done in #93

[2018-09-01 18:49] samuelralak commented on #90
done in #94

[2018-09-01 18:58] samuelralak opened #95 "problem: freelancer is unable to view payment history"
problem: freelancers are able to view requested payments and their respective statuses.

solution: include freelancer's payment history in request payments page

[2018-09-01 18:58] samuelralak commented on #95
@emurgobot claim

[2018-09-01 21:14] samuelralak commented on #95
done in #96

[2018-09-01 21:26] #95 closed

[2018-09-01 21:59] anbud commented on #92
Done in #97.

[2018-09-01 23:44] #92 closed

[2018-09-01 23:44] #91 closed

[2018-09-01 23:44] #90 closed

[2018-09-01 23:45] #67 closed

[2018-09-01 23:45] #71 closed

[2018-09-02 09:16] AshHimself opened #98 "problem: timecards can be edited post payment request"
problem: Timecards can be edited post payment request

solution: Disabled editing of timecards once a payment has been requested.

[2018-09-02 09:16] AshHimself commented on #98
@emurgobot claim

[2018-09-04 23:24] samuelralak opened #99 "problem: issue input not reset after user clicks "start work""
problem: The issue input isn't reset when user clicks on start work. user either has to refresh page or delete old value to track a new issue. this is bad user user experience

solution: set the input value to empty when user clicks on start work and issue is successfully tracked

[2018-09-05 04:30] AshHimself commented on #98
Fixed in #98
@emurgobot label "done"
@emurgobot done

[2018-09-05 05:36] AshHimself opened #101 "problem: tests broken due to #98"
problem: tests broken due to #98

solution: update tests to reflect the new logic documented in #98

[2018-09-05 05:41] AshHimself commented on #101
@anbud - sir, i've updated the logic a little bit here to only allow clicking of these buttons during certain situations to avoid the data being changes, as a result i've broken the tests :)

Assuming we can check the status or something, or do an if statement in the assertions?

[2018-09-05 05:43] AshHimself commented on #99
@emurgobot claim

[2018-09-05 05:53] AshHimself commented on #99
Fixed in #102
@emurgobot label "done"
@emurgobot done

[2018-09-05 06:00] AshHimself opened #103 "problem:[home] total earnings is misleading"
problem: the total earnings on the home page should be the current total earnings that have NOT been paid.

solution: only SUM timecards that are active so the user can get an idea of total expected funds to be paid. @gazhayes

[2018-09-05 06:54] AshHimself opened #104 "problem: payments table is overlapping div"
problem: payments table is overlapping div and offering bad UX.

![image](https://user-images.githubusercontent.com/148682/45076030-89447b00-b11b-11e8-8119-7baa9acd3a4d.png)

Solution: update html to be responsive

[2018-09-05 06:57] AshHimself commented on #103
Fixed in #105
@emurgobot label "done"
@emurgobot done

[2018-09-05 07:47] AshHimself opened #106 "problem: able to submit same github issue"
problem: its possible to submit the same github issue multiple times

solution: validate github issue url to not allow duplicates

[2018-09-05 08:03] AshHimself opened #107 "problem: sweetAlerts css is missing resulting in bad UX"
problem: sweetAlerts css is missing resulting in bad UX

solution: investigate missing css issue and resolve

[2018-09-05 08:08] anbud commented on #101
I'll fix them. :)

[2018-09-05 08:12] AshHimself commented on #106
Fixed in #108
@emurgobot label "done"
@emurgobot done

[2018-09-05 08:13] AshHimself commented on #107
@emurgobot claim

[2018-09-05 08:56] AshHimself commented on #107
Fixed in #109
@emurgobot label "done"
@emurgobot done

[2018-09-05 08:56] #98 closed

[2018-09-05 08:56] #103 closed

[2018-09-05 08:57] #106 closed

[2018-09-05 08:57] AshHimself commented on #99
@samuelralak - I can't close this one mate :)

[2018-09-05 08:58] samuelralak commented on #99
lol, got it 👍

[2018-09-05 08:58] #99 closed

[2018-09-05 09:16] gsovereignty commented on #106
What happens when you actually want to work on an issue, then you have to wait for something or whatever so you work on another issue, then you want to work on the first issue again?

[2018-09-05 09:18] AshHimself commented on #106
Sorry I didn't explain this correctly. You could do this.

Create Issue for https://github.com/EmurgoHK/emurgolance/issues/106
Pause https://github.com/EmurgoHK/emurgolance/issues/106
Create another issue for https://github.com/EmurgoHK/emurgolance/issues/106
Then start the clock on 106 issue twice.

[2018-09-05 09:20] gsovereignty commented on #106
OK, to play devil's advocate, what happens if I press stop on #106 because I think it's done, but then I find after merging that there's more to do?

[2018-09-05 09:22] AshHimself commented on #106
You can work on it twice as long as the original timesheet has been completed. e.g. if you merged 106 you would then complete that timecard in Emurgolance. It is possible now to then create another timecard for 106 if for say tests fail or you broke something.

[2018-09-05 09:37] gsovereignty commented on #106
Ah ok cool, in that case this is kind of perfect.

You should probably redirect users to the existing issue if they paste it in again.

[2018-09-05 09:39] AshHimself commented on #106
There isn't anything to redirect to emurgolance unless we perhaps highlight the issue or something in the queue.

[2018-09-05 09:58] gsovereignty commented on #106
Ah yeah, good point. Highlighting it or making it flash for a few seconds is probably a good idea then, just in case people get confused.

[2018-09-05 10:16] #107 closed

[2018-09-05 10:17] AshHimself opened #110 "problem: no notification system"
problem: no notification system available therefore communications to users and moderators is not available.

solution: implemented notification system from other emurgo packages.

[2018-09-05 10:18] AshHimself commented on #110
@emurgobot claim

[2018-09-05 10:43] anbud commented on #101
Fixed in #111.

[2018-09-05 10:45] #101 closed

[2018-09-05 11:58] AshHimself commented on #110
Fixed in #112
@emurgobot label "done"
@emurgobot done

[2018-09-05 15:15] geekyd opened #113 "problem: payment details are not mandatory in the form"
problem: payment details are not mandatory in the form

solution: make the payment details like paypal id etc mandatory

[2018-09-05 15:15] dilpreetsio commented on #113
@emurgobot claim

[2018-09-05 15:37] gsovereignty commented on #113
I think it's best to let people start working immediately without payment details added. Use a notice bar alert thing to remind them though.

[2018-09-05 15:39] dilpreetsio commented on #113
@gazhayes Sounds good I will make the changes to the PR. :)

[2018-09-05 16:25] dilpreetsio commented on #113
Done in #114

[2018-09-05 17:09] geekyd opened #115 "problem: no notification to user when payment is marked as paid"
problem: no notification to user when payment is marked as paid

solution: send a notification to the user when a payment is marked as paid.

[2018-09-05 17:09] dilpreetsio commented on #115
@emurgobot claim

[2018-09-05 17:30] dilpreetsio commented on #115
Done in #115

[2018-09-05 20:12] anbud opened #117 "Problem: Add payment details banner is shown even if SWIFT details are correct"
Problem: Add payment details banner is shown even if SWIFT details are correct

Solution: Only show the add payment details banner if payment details are missing.

[2018-09-05 20:21] anbud commented on #117
Done in #118.

[2018-09-05 20:24] anbud opened #119 "Problem: Nonactive timecards can't be edited"
Problem: Timecards that are not currently active cannot be edited which can be a problem if you want to add/remove time on the timecard after marking it as finished.

Solution: Disable edit and delete button only if payment has already been requested for given timecards.

[2018-09-05 20:37] anbud commented on #119
Done in #120.

[2018-09-05 20:41] anbud opened #121 "Problem: Modifying settings requires moderator approval"
Problem: Every modification of user's settings requires moderator approval for the hourly rate, even if the hourly rate is not changed.

Solution: Only require moderator's approval if the hourly rate changes.

[2018-09-05 21:11] anbud commented on #121
Done in #122.

[2018-09-06 06:30] #110 closed

[2018-09-06 06:32] AshHimself opened #123 "problem: mods do not know what has been paid"
problem: mods do not know what has been paid

solution: add some basic dashboards and expand from that.

[2018-09-06 06:33] AshHimself commented on #123
@emurgobot claim

[2018-09-06 07:41] gsovereignty commented on #119
@emurgobot claim

[2018-09-06 07:42] gsovereignty commented on #119
@emurgobot label "in progress"

[2018-09-06 07:54] gsovereignty commented on #119
@emurgobot claim

[2018-09-06 07:57] gsovereignty commented on #119
@emurgobot claim

[2018-09-06 08:00] gsovereignty commented on #119
@emurgobot claim

[2018-09-06 09:30] #117 closed

[2018-09-06 09:30] #121 closed

[2018-09-06 09:30] #119 closed

[2018-09-06 11:18] gsovereignty commented on #115
@emurgobot claim

[2018-09-06 11:19] gsovereignty commented on #115
@emurgobot done

[2018-09-07 02:18] AshHimself commented on #123
@gazhayes - Anything else you want to track mate?

![image](https://user-images.githubusercontent.com/148682/45194819-44d5ee00-b287-11e8-9969-8e889cd4c6a9.png)

[2018-09-07 04:10] gsovereignty commented on #123
That's a pretty good start

[2018-09-07 06:33] AshHimself commented on #123
@anbud - pushing this PR now, i've not done tests so if you want to you can otherwise I can later in the weekend (I know you life unit testing ;) )

[2018-09-07 06:36] AshHimself commented on #123
Fixed in #124
@emurgobot label "done"
@emurgobot done

[2018-09-07 07:56] #123 closed

[2018-09-08 01:05] AshHimself commented on #104
@emurgobot claim

[2018-09-08 01:13] AshHimself commented on #104
Fixed in #125
@emurgobot label "done"
@emurgobot done

[2018-09-08 07:59] #104 closed

[2018-09-08 08:02] AshHimself opened #126 "problem: mod dashboard blank on first login"
problem: mod dashboard blank on first login as the method as called on rendered and logging in does 'not' re-render.

solution: force method to run again if a moderator.

[2018-09-08 08:15] anbud commented on #126
@emurgobot claim

[2018-09-08 08:16] AshHimself commented on #126
@anbud oops I forgot to claim this forgot that this bot thing is back working again :)

[2018-09-08 08:19] anbud commented on #126
Heh, don't worry, it's yours. :)
@emurgobot abandon

[2018-09-08 08:19] AshHimself opened #127 "problem: no tests for mod dashboard"
solution: create tests for mod dashboard, ensure the dashboard is only visible for authenticated users and that the authenticated users role is a moderator.

@anbud *cough*

[2018-09-08 08:19] AshHimself commented on #126
@emurgobot claim

[2018-09-08 08:19] AshHimself commented on #126
I'd normally not care I am just 10seconds away from sending a PR.

[2018-09-08 08:20] anbud commented on #127
This one's definitely for me.  )

@emurgobot claim

[2018-09-08 08:20] AshHimself commented on #127
haha yeh.. tag me in the PR i'd like to see how you do it so I can do future ones.

[2018-09-08 08:21] anbud commented on #127
Deal. :)

[2018-09-08 08:22] AshHimself commented on #126
Fixed in #128
@emurgobot label "done"
@emurgobot done

[2018-09-08 23:53] anbud commented on #127
Done in #129.

[2018-09-10 06:58] gazhayes opened #130 "problem: cannot easily see amounts per project"
problem: it's not easy for mods to see the total amount spent per project, or the total amount per project per user.

[2018-09-10 07:00] samuelralak commented on #130
@emurgobot claim

early bird catches the worm

On Mon, 10 Sep 2018 at 09:58, Gareth Hayes <notifications@github.com> wrote:

[2018-09-10 07:01] gsovereignty commented on #130
I think you just set a new record

[2018-09-10 07:01] #127 closed

[2018-09-11 07:50] gsovereignty commented on #126
@emurgobot label "done"

[2018-09-11 07:50] #126 closed

[2018-09-11 08:01] gazhayes opened #131 "problem: no summary of costs per project when looking at a freelancer's payment request"
problem: no summary of costs per project when looking at a freelancer's payment request.

[2018-09-11 08:26] anbud commented on #131
@emurgobot claim

[2018-09-11 10:46] anbud commented on #131
Done in #132.

[2018-09-11 16:11] geekyd opened #133 "Problem: link to the PR missing from the timesheet"
Problem: link to the PR missing from the timesheet. Adding a link to the PR sent by the freelancer will make it easy for the moderator to review the work.

Solution: Add a field PR to the db & ask the freelancer to add a link while submitting the work.

[2018-09-11 16:11] dilpreetsio commented on #133
@emurgobot claim

[2018-09-11 16:23] gsovereignty commented on #133
You read my mind!

[2018-09-11 18:28] dilpreetsio commented on #133
Completed in #134
@emurgobot Done

[2018-09-11 18:28] geekyd commented on #133
@emurgobot add label 'Done'

[2018-09-11 18:29] dilpreetsio commented on #133
@emurgobot label "done"
@emurgobot remove "in progress"

[2018-09-11 18:31] geekyd opened #135 "Problem: missing validation for PR"
Problem: missing validation for PR. This issue is a follow up of #133.

Solution: Add validation for PR using github API.

[2018-09-11 18:31] dilpreetsio commented on #135
@emurgobot claim

[2018-09-11 18:42] anbud commented on #135
Just make sure to allow '-' or something if there's no PR for the timesheet. (e.g. Devops work doesn't always need a PR)

[2018-09-12 10:16] #133 closed

[2018-09-12 11:53] dilpreetsio commented on #135
Done in #136
@emurgobot label "done"
@emurgobot remove "in progress"

[2018-09-12 18:51] #135 closed

[2018-09-13 11:21] samuelralak commented on #130
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-09-13 11:22] samuelralak commented on #130
@gazhayes solution doesn't take into account completed/uncompleted timesheets, it just sums up totalEarnings in all timesheets. wasn't sure whether to include that or not

[2018-09-14 04:43] #130 closed

[2018-09-14 06:01] AshHimself opened #139 "problem: unable to see PR for completed timesheets"
solution: add a view to view statistics and info PR for completed jobs

[2018-09-14 06:37] AshHimself commented on #139
@emurgobot claim

[2018-09-14 06:37] AshHimself commented on #139
Fixed in #140
@emurgobot label "done"
@emurgobot done

[2018-09-14 06:42] AshHimself opened #141 "problem: pr url accepts any url"
problem: pr url accepts any url

solution: validate the PR ur exists prior to allowing a user to complete a timesheet. This will FORCE users to ensure a valid PR is submitted before claiming payments on a timesheet.

[2018-09-14 06:42] AshHimself commented on #141
@emurgobot claim

[2018-09-14 14:11] dilpreetsio commented on #141
@AshHimself
Thanks for opening this issue, I totally missed to address it in #136.
The URL can only take Github URLs, however it is currently accepting an issue as a valid PR url. To solve this we should use a unique attribute that is returned by the API for a valid PR.

eg. We can use `commits` or `merged` in the response. These attributes only exist if the PR link is valid. You can do this insid

[2018-09-14 17:44] MadanBhandari opened #143 "Problem : Link not working for mongodb dump data"
Problem : Link for mongodb dump data on [Readme](https://github.com/EmurgoHK/emurgolance#insert-the-database-if-running-locally-never-for-production) is not working.

Solution : update link for dump database

[2018-09-16 03:49] AshHimself commented on #141
@emurgobot unclaim

[2018-09-16 04:09] gsovereignty commented on #141
@anbud or @geekyd  you might want to take this one.

[2018-09-16 04:09] #139 closed

[2018-09-16 04:09] #131 closed

[2018-09-16 06:55] anbud commented on #141
I'll take a look.

@emurgobot  claim

[2018-09-16 07:00] dilpreetsio commented on #141
@anbud I can send a fix using the solution I mentioned, if you want :)

[2018-09-16 22:14] anbud commented on #141
Sorry @geekyd, I just see your message. If you already have the fix, sure, you can take it. :)

@emurgobot abandon

[2018-09-17 18:16] geekyd commented on #141
Fixed in #144
@emurgobot done

[2018-09-17 18:17] dilpreetsio commented on #141
@emurgobot claim

[2018-09-17 18:17] dilpreetsio commented on #141
Fixed in #144
@emurgobot done

[2018-09-17 19:36] anbud opened #145 "Problem: Blockrazor issues are incorrectly sliced"
Problem: Blockrazor issues on Emurgolance are incorrectly sliced. For example, an issue from Emurgis looks like this: `Emurgis/issues/435`, yet an issue from Blockrazor looks like this: `r/blockrazor/issues/1886`.

Solution: Fix the `removeHostname` helper to prevent incorrect slicing.

[2018-09-17 19:37] anbud commented on #145
@emurgobot claim

[2018-09-18 07:38] anbud commented on #145
Done in #146.

@emurgobot done

[2018-09-18 14:00] AshHimself opened #147 "Problem: unable to change/update payment details"
Problem: unable to change/update payment details

Solution: Allow payment details to be updated and keep previous payment details for posterity.

[2018-09-18 14:00] AshHimself commented on #147
@emurgobot claim

[2018-09-19 10:18] #141 closed

[2018-09-19 10:18] #145 closed

[2018-09-19 10:20] gazhayes opened #148 "problem: no test database for devs"
problem: no test database for devs

solution: do a mongo dump with test data (to prevent personal information being leaked). Put it in the git repo. Update whenever appropriate.

[2018-09-19 10:21] gazhayes opened #149 "problem: mods cannot see users payment details"
problem: mods cannot see users payment details

[2018-09-19 10:26] samuelralak commented on #149
@emurgobot claim

On Wed, 19 Sep 2018 at 13:21, Gareth Hayes <notifications@github.com> wrote:

[2018-09-19 13:32] samuelralak commented on #149
@emurgobot done

done in #150

[2018-09-19 13:40] samuelralak opened #151 "Problem: freelancer's unable to cancel payment"
Problem: freelancer's are unable to cancel unprocessed payments if the payment was requested by mistake or wish to update the requested payment amount.

Solution: Allow user's to cancel a payment request if not already paid. add a cancel action to payment in the requested payments page.

[2018-09-19 13:40] samuelralak commented on #151
@emurgobot claim

[2018-09-19 13:43] samuelralak commented on #151
@emurgobot claim

[2018-09-21 06:07] MadanBhandari opened #152 "Problem : Layout broken in small screen (Not Responsive)"
Problem : Layout broken in small screen / Not Reponsive
![emergolance-error1](https://user-images.githubusercontent.com/6429311/45863189-a4a5bc00-bd92-11e8-915d-46bf4e822994.png)
![emrogolanceerror2](https://user-images.githubusercontent.com/6429311/45863191-a66f7f80-bd92-11e8-95c7-eaa0fe51a6cc.png)

Solution :
Make Responsive using coreui grid

[2018-09-21 06:07] MadanBhandari commented on #152
@emurgobot label "UI-UX"
@emurgobot claim

[2018-09-21 06:22] gsovereignty commented on #149
@AshHimself do you have your bank details in emurgolance?

In production I'm seeing this:

<img width="1447" alt="screen shot 2018-09-21 at 2 20 31 pm" src="https://user-images.githubusercontent.com/8143945/45863654-b050ad00-bda9-11e8-92b3-96716cf99256.png">

Update: I'm seeing this for all users, @samuelralak it could be an issue with your PR for this one.

[2018-09-21 07:15] MadanBhandari commented on #152
Done in #153

@emurgobot done

[2018-09-21 07:36] MadanBhandari opened #154 "Problem : user can not login from mobile"
Problem : user can not login from mobile, it redirects to github and it doesn't work but it works on laptop ( responsive view)

Is this just me or everyone face this ?

[2018-09-21 07:42] MadanBhandari commented on #154
On production : User can only login with GitHub, we are gonna keep this or github will be just an alternative ?

ping @gazhayes

[2018-09-21 08:11] samuelralak commented on #149
Yes @gazhayes , thats definitely. If the payment requests were made before the PR then that should be expected.

[2018-09-21 08:38] AshHimself commented on #149
I can't see them, I don't recall. Did you want me to add my new ones? or you still having issues?

[2018-09-21 09:35] samuelralak commented on #151
@emurgobot done

done in #155

[2018-09-21 09:55] samuelralak opened #156 "Problem: [entry/:id] UI elements not correctly aligned"
Problem: UI elements in the edit entry page are not properly aligned giving the page a bad UI
<img width="1418" alt="screen shot 2018-09-21 at 12 53 21 pm" src="https://user-images.githubusercontent.com/4476552/45874454-901af100-bd9d-11e8-9808-6026541423bd.png">

[2018-09-21 09:55] samuelralak commented on #156
@emurgobot claim

[2018-09-21 11:08] samuelralak commented on #156
@emurgobot done

done in #157

[2018-09-21 11:08] #156 closed

[2018-09-21 11:11] anbud commented on #154
I can't see the logout button on mobile, so I can't test it. But I believe the GitHub login worked before since I'm logged in already.
![button](https://i.imgur.com/QIJJ4SB.jpg)

[2018-09-21 11:17] MadanBhandari opened #158 "Problem : User profile options are not available on small screen"
Problem : User profile options are not available on small screen

Solution : Display Logout, settings and payment request option for mobile as well

[2018-09-21 11:17] MadanBhandari commented on #158
@emurgobot claim

[2018-09-21 11:17] samuelralak commented on #154
@MadanBhandari logging in works fine for me on mobile

[2018-09-21 11:17] MadanBhandari commented on #154
Okay, then first I am working on #158

[2018-09-21 11:19] MadanBhandari commented on #149
@samuelralak  I have one question : How can I make user mod on local [for testing]?

[2018-09-21 11:27] samuelralak commented on #149
Hey @MadanBhandari I ran the following directly on my mongo db
[code]
where the `_id` is my user's id

[2018-09-21 11:41] MadanBhandari commented on #158
Done in #159

@emurgobot done

[2018-09-21 11:44] MadanBhandari commented on #143
I am closing this issue as there is new issue for the same.

Related :  #148

[2018-09-21 11:44] #143 closed

[2018-09-21 12:10] MadanBhandari opened #160 "Problem : Landing page doesn't exist"
Problem : Landing page doesn't exist, so not logged-in user can't know anything about this project.
Solution : Add Landing page with information about project

Questions :

1. Who are our targeted audience ?
2. Is this only for internal use at Emurgo or will be available for all users [other than emurgo] ?

ping @gazhayes @anbud

[2018-09-21 12:11] MadanBhandari commented on #160
@emurgobot label "UI-UX"
@emurgobot claim

[2018-09-21 13:15] gsovereignty commented on #160
It's only for internal use so something simple is ok

[2018-09-21 16:16] MadanBhandari commented on #160
Okay, then I'll just make some simple with one background image, icon & login with GitHub button.

If user is logged-in and in development environment, current home page otherwise new landing page.

[2018-09-21 17:06] MadanBhandari commented on #160
Done in #161
@emurgobot done

[2018-09-21 18:36] MadanBhandari opened #162 "Problem : On click remove timeline icon, timeline removed without confirmation"
Problem : Once user clicked on remove timeline icon, timeline removed without confirmation

Eg. When user click once on remove timeline option (or even by mistake), timeline automatically removes

![remove-time](https://user-images.githubusercontent.com/6429311/45899698-32b58d00-bdfb-11e8-86aa-cf4534207171.png)

Solution :

1. Remove timeline only if user click on OK (or confirm)
2. Add cancel but

[2018-09-21 18:36] MadanBhandari commented on #162
@emurgobot claim

[2018-09-21 18:40] anbud commented on #162
Yeah, sweet alert api has changed in version 2. Adding showCancelButton should do the trick.

Since this one is not working correctly, check out other buttons with confirmation dialogs as well, maybe they aren't working as expected as well. :)

[2018-09-21 18:41] MadanBhandari commented on #154
![whatsapp image 2018-09-22 at 12 09 25 am](https://user-images.githubusercontent.com/6429311/45899947-e454be00-bdfb-11e8-8756-8541e691c4e7.jpeg)

I always get this error, is this happening only with me ?

[2018-09-21 18:43] anbud commented on #154
I don't even get to that screen, oauth flow completes automatically when I click on the sign in button.

[2018-09-21 18:47] MadanBhandari commented on #162
Yes, I am looking into this, funny thing is I found this problem on production :D

[2018-09-21 19:00] MadanBhandari commented on #154
Now, I am more interested in this problem, why just me ?

I'll check with my friend's mobiles too, may be problem is with my mobile or browser or something specific.

[2018-09-21 19:14] MadanBhandari commented on #162
Fixed in #163
@emurgobot done

[2018-09-21 19:20] MadanBhandari opened #164 "Problem : Hidden modals are not clear what they are"
Problem : Hidden modals are not clear what they are

Solution : I am not sure myself what they are, add appropriate content (Help Text)

[2018-09-21 19:21] MadanBhandari commented on #164
@emurgobot label "UI-UX"

[2018-09-21 19:32] MadanBhandari opened #165 "Problem : mods can only edit already edited entries by user himself"
Problem : mods can only edit already edited entries by user himself otherwise mod can not see/edit entry details

Solution : Add edit icon to all entries by users [For mod]

[2018-09-21 21:18] anbud commented on #154
It could be. What Android version and Chrome version are you using?

I'm on Galaxy S8, Android 8.0, Chrome 69.

[2018-09-21 21:20] anbud commented on #164
Are you thinking about the `Reset hidden modals` button on the settings page?

It just resets all confirmation dialogs to initial state, so they'll all show again. For example, you can click on `hide permanently` button on some confirmation dialogs and they won't be shown again unless you reset hidden modal status with that button.

[2018-09-22 05:17] MadanBhandari commented on #154
I'm on Oneplus 5T, Android 8.1.0, Chrome 69

[2018-09-22 09:03] MadanBhandari commented on #154
I had Fasthub (GitHub client) installed on my mobile, when I uninstalled that, It's working perfectly fine.

Closing this as this problem is not with emurgolance itself.

[2018-09-22 09:03] #154 closed

[2018-09-23 05:15] #162 closed

[2018-09-23 05:15] #160 closed

[2018-09-23 05:15] #152 closed

[2018-09-23 05:15] #158 closed

[2018-09-23 11:52] MadanBhandari commented on #164
@emurgobot claim

[2018-09-23 12:07] MadanBhandari commented on #164
Done in #167
@emurgobot done

[2018-09-23 12:08] MadanBhandari commented on #165
@emurgobot claim

[2018-09-23 12:41] MadanBhandari commented on #165
Done in #168

@emurgobot done

[2018-09-23 12:44] MadanBhandari opened #169 "Problem : Payments not in navigation"
Problem : Payments not in navigation

Solution : Add link to side nav as well.

For better UX payments should be on side navigation, as this is part regular use case like timesheet.

[2018-09-23 12:45] MadanBhandari commented on #169
@emurgobot label "UI-UX"

@emurgobot claim

[2018-09-23 12:54] MadanBhandari opened #170 "Problem : Read me content is for Emurpas"
Problem : Read me content is for Emurpas

Solution : change the content for Emurgolance in Readme

[2018-09-23 13:04] MadanBhandari commented on #169
Done in #171

@emurgobot done

[2018-09-23 13:04] MadanBhandari commented on #170
@emurgobot claim

[2018-09-23 13:22] MadanBhandari commented on #170
Fixed in #172

@emurgobot done

[2018-09-24 07:10] #169 closed

[2018-09-24 07:10] #164 closed

[2018-09-24 07:10] #165 closed

[2018-09-24 07:29] MadanBhandari opened #173 "Problem : Hiding approval confirmation approves request"
Problem : Hiding approval confirmation approves request
![approve-payment](https://user-images.githubusercontent.com/6429311/45940912-65c56f80-bff9-11e8-8d91-0aa6f79ac255.png)

Solution : Remove hide confirmation modal option, as there is no use for that

[2018-09-24 09:27] MadanBhandari commented on #173
@emurgobot claim

[2018-09-24 10:02] MadanBhandari commented on #173
Done in #174

@emurgobot done

[2018-09-24 10:19] #149 closed

[2018-09-24 10:19] #151 closed

[2018-09-24 10:19] #173 closed

[2018-09-25 11:34] AshHimself commented on #147
Fixed in #176
@emurgobot label "done"
@emurgobot done

[2018-09-25 11:38] AshHimself opened #177 "problem: you are able to have multiple payment types"
problem: you are able to have multiple payment types

solution: add ability to have a default/primary payment type as apposed to deleting old payment types which may be used in the future.

[2018-09-25 11:39] AshHimself commented on #177
@emurgobot claim

[2018-09-26 02:00] geekyd opened #178 "Problem: moderator is able to update timesheets that are payed"
Problem: moderator is able to update timesheets that are payed

Solution: Do not allow the moderator to make changes if the payment is completed

[2018-09-26 02:00] dilpreetsio commented on #178
@emurgobot claim

[2018-09-26 02:05] dilpreetsio commented on #178
Done in #179

@emurgobot done

[2018-09-26 07:39] AshHimself commented on #177
I found out this is not entirely possibly but made it more obvious to the user what payment type is currently their default payment method which moderators will use.

[2018-09-26 07:41] samuelralak commented on #177
Default payment type is attached to payment document upon payment request

On Wed, 26 Sep 2018 at 10:39, Ash Smith <notifications@github.com> wrote:

[2018-09-26 07:42] AshHimself commented on #177
Yep @samuelralak I figured this out after doing it again myself :( but then I realised i would at least add in the label to actually let the user know this is the default as you can still save multiple.

[2018-09-26 07:43] AshHimself commented on #177
Fixed in #180
@emurgobot label "done"
@emurgobot done

[2018-09-26 07:44] #177 closed

[2018-09-26 07:44] #147 closed

[2018-09-26 07:47] gazhayes opened #181 "problem: maintainers must check each repo for new pull requests"
problem: maintainers must check each repo for new pull requests, it gets kind of annoying.

solution: use github api to check for pull requests, and if possible the test status of pull requests, and display these on a new tab thing in emurgolance (just for convenience).

Make it automagically add any new repos in the emurgohk organization (pretty sure there's an API to check for repos).

[2018-09-26 07:47] #178 closed

[2018-09-26 07:48] AshHimself commented on #181
Ooo this looks fun!
@emurgobot claim

[2018-09-26 07:49] AshHimself commented on #148
@gazhayes - not sure if this is a possible option, but I just have a two line script for my mongoDB which just resets my local, downloads from production, then restores locally. Not sure if a read-only account to mongoDB could do this.

[2018-09-26 07:57] gsovereignty commented on #148
Can you elaborate on the 'download from production' part?

[2018-09-27 03:48] gazhayes opened #182 "problem: freelancers must check every repository for new issues"
problem: freelancers must check every repository for new issues

solution: use github API to get all open issues (from all emurgo repos) that are not labeled as in progress and put these on a single page. Use cron job to check for new repositories in the organization and add those automatically.

[2018-09-27 04:35] dilpreetsio commented on #182
@emurgobot claim

[2018-09-27 15:20] dilpreetsio commented on #182
@gazhayes @anbud  Should we store the issues in the DB or simply display the issues to the user?

Also we do not really need a cron job if we use the second approach

[2018-09-27 15:24] gsovereignty commented on #182
Actually yeah the second approach is simpler, you should probably do that

[2018-09-27 19:01] dilpreetsio commented on #182
Done in #183
@emurgobot done

[2018-09-30 00:02] samuelralak opened #185 "problem: outdated bootstrap version has vulnerabilities"
problem: twitter bootstrap version in package.json and in coreui dependency are outdated and have vulnerabilities

solution: update both coreui and twbs

[2018-09-30 00:05] samuelralak commented on #185
@emurgobot claim

[2018-09-30 00:21] samuelralak commented on #185
@emurgobot done

done in #186

[2018-09-30 10:16] #185 closed

[2018-10-01 03:54] AshHimself commented on #181
Fixed in #184
@emurgobot label "done"
@emurgobot done

[2018-10-02 01:36] #182 closed

[2018-10-02 01:36] gsovereignty commented on #181
Hey @AshHimself how are you fetching pull requests? This doesn't seem to be working?

[2018-10-02 05:43] anbud commented on #181
Oh, in the fix I've made, github token is stored in env variable process.env.GITHUB_API_TOKEN, it should be set on production as well. You can use the same token that I've sent you for Blockrazor, it'll work.

[2018-10-02 06:00] gsovereignty commented on #181
Ah ok I'll set that

[2018-10-02 06:01] gsovereignty commented on #181
@emurgobot done
@emurgobot claim

[2018-10-03 07:32] gazhayes opened #188 "problem: total pending payments not shown"
problem: when moderators view the details for a freelancer, the total paid earnings (green) are shown, but not the total pending earnings.

[2018-10-03 07:55] MadanBhandari commented on #188
@emurgobot claim

[2018-10-03 08:12] MadanBhandari commented on #188
Looks like it's working for me on local

path : `/moderator/user/___userID____`

![user-info-emergolance](https://user-images.githubusercontent.com/6429311/46398156-f7c42b00-c711-11e8-91c0-a1274510596c.png)

ping @gazhayes @samuelralak

[2018-10-03 08:17] gsovereignty commented on #188
I should probably have stated this one a bit better:

see the "paid, pending, rejected" items in the list? What's needed is the totals for each of these categories.

[2018-10-03 08:27] MadanBhandari commented on #188
You meant by Pending, Rejected, Paid and Total earnings. I got it. I'll update that.

[2018-10-03 08:51] MadanBhandari commented on #188
@gazhayes  You meant by like this ?

![updates-payment](https://user-images.githubusercontent.com/6429311/46400255-956e2900-c717-11e8-9683-908ea37d422d.png)

[2018-10-03 08:56] gsovereignty commented on #188
Yeah that's perfect

[2018-10-03 08:59] MadanBhandari commented on #188
I'll send PR with some UI-UX updates, as well.

[2018-10-03 09:44] MadanBhandari commented on #188
Done in #189
@emurgobot done

[2018-10-03 09:48] #181 closed

[2018-10-03 09:48] #188 closed

[2018-10-03 09:53] gazhayes opened #190 "problem: fetching PRs with Github API not working"
problem: [http://emurgolance.org/moderator/repos] fetching PRs with Github API not working. There are some useful errors in the console.

I've used this in the node rebuild script and it should be accessible to node as an env variable.
[code]

I'd like to put the production rebuild scripts on github at some point anyway, so maybe it's better to get the token from mongo instead?

[2018-10-03 11:10] anbud commented on #190
I know what's going on, it should be called from the server as client code doesn't have access to `process.env`. Sure, we can use a token from Mongo, it will also work and maybe it's better.

@emurgobot claim

[2018-10-03 11:20] MadanBhandari opened #191 "Problem : Cancel edit button doesn't work"
Problem : Cancel edit button doesn't work

Solution : This must be swal issue like earlier with stop button, check and fix

[2018-10-03 11:21] MadanBhandari commented on #191
@emurgobot claim

[2018-10-03 12:10] anbud commented on #190
Done in #192.

Add the token to the mongo database with:
[code]

@emurgobot done

[2018-10-03 12:33] MadanBhandari commented on #191
Done in #193
@emurgobot done

[2018-10-03 16:20] MadanBhandari opened #195 "Problem : User doesn't get to timesheet on login"
Problem : User doesn't get to timesheet on login

Solution : Timesheet should render automatically without need to refresh

[2018-10-03 16:20] MadanBhandari commented on #195
@emurgobot label "UI-UX"
@emurgobot claim

[2018-10-04 04:16] #191 closed

[2018-10-04 04:16] #190 closed

[2018-10-04 05:03] gazhayes opened #196 "problem: github API checking for pull requests is slow"
problem: github API checking for pull requests is slow

solution: use synced-cron every x minutes (5?) and store results in mongo

[2018-10-04 06:03] anbud commented on #196
@emurgobot claim

[2018-10-04 11:48] anbud commented on #196
Done in #197.

@emurgobot done

[2018-10-04 15:48] MadanBhandari commented on #195
Done in #198

@emurgobot done

[2018-10-05 03:27] #196 closed

[2018-10-05 03:27] #195 closed

[2018-10-05 03:29] gazhayes opened #199 "problem: multiple payment requests from same person are not combined together"
problem: multiple payment requests from same person are not combined together. If a user requests a payment and then later requests another payment before the first one was paid, there are two different payment requests which makes it easy for accounting to make a mistake when sending money.

[2018-10-05 05:02] anbud commented on #199
@emurgobot claim

[2018-10-05 09:04] anbud commented on #199
Done in #200.

@emurgobot done

[2018-10-05 09:09] #199 closed

[2018-10-05 16:12] jinpeng0102 opened #201 "redirect to various routes"
I can't redirect to various routes.
This has the routes "/", "/issues","/requestpayment", etc.
But they don't go to real page.

[2018-10-05 16:28] anbud commented on #201
Hmm, all of them require that you're signed in, otherwise they'll redirect to the login page I believe. Are you signed in? :)

[2018-10-05 16:32] cloud-dev0102 commented on #201
It is not reasonable.
What is the most reasonable is to display modal for login.

[2018-10-05 16:59] MadanBhandari commented on #201
There is no point to add modal for each page, just redirect them to login, and for not logged-in we have nothing to show and this project is built only for internal use.

[2018-10-05 17:24] cloud-dev0102 commented on #201
Hi, all?
Have you seen the first page?
It has input field "github issue link".
And when clicking any item, browser url is changed, but page is not.
This is just bug.
So, I propose the following:
1. Don't change browser route when clicking any item.
2. When it is, if user didn't login, let effect to click login item occur.
Regards.

[2018-10-05 19:46] anbud commented on #201
Wait, if you're seeing the form with the 'github issue link' input field, you have to be logged in. Users that aren't logged in only see the landing page if I'm not mistaken.

Are you getting any errors in the console or something when you click on the links? I can't reproduce any of this, everything is working properly for me, both locally and in production. :)

[2018-10-05 19:49] anbud opened #202 "Problem: PR list is only available for moderators"
Problem: PR list is only available for moderators, but it should be visible for all users, as repo maintainers (as myself) usually aren't moderators as well. That data is public anyhow.

Solution: Move the page with PRs from moderator panel and make it visible for all users.

[2018-10-05 19:49] anbud commented on #202
@emurgobot claim

[2018-10-05 19:54] cloud-dev0102 commented on #201
OK, Are you working in this part? In fact, I am a developer invited from freelancer.com by Blockrazor, and want to work with you.
I specialize in node.js frameworks and meteor, react/redux, angular etc.
And I have full experiences to accomplish special techs such as MFA, SSO, Social login, web socket and webRTC and so on.

So, I am looking for new issues from this project, can you help me?

[2018-10-05 20:06] anbud commented on #202
Done in #203.

@emurgobot done

[2018-10-06 12:32] #201 closed

[2018-10-06 14:39] jinpeng0102 opened #204 "Problem: I am going to join as contributor in the first time, and request PULL in the first time."
Problem: I am going to join as contributor in the first time, and request PULL in the first time.

[2018-10-06 14:40] cloud-dev0102 commented on #204
@emurgobot claim

[2018-10-06 15:18] cloud-dev0102 commented on #204
@emurgobot  label "done"

[2018-10-06 16:54] MadanBhandari commented on #204
@jinpeng0102 This is not a problem.

1. Please read [Contribution Guide](https://github.com/EmurgoHK/emurgolance/blob/master/CONTRIBUTING.MD)  and [C4](https://github.com/EmurgoHK/emurgolance/blob/master/DESCRIPTIVE_C4.MD) line by line.
2. Create a issue with Problem : [problem title] and simplest possible solution
3. Get other contributor's view and claim by `@emurgobot claim` to start working
4.

[2018-10-11 19:17] samuelralak opened #206 "Problem: users cannot request for manual payments"
Problem: users cannot add a manual payment along with their timesheet payments. such manual payments would include payments from an external timesheet as agreed with the employer.

Solution: prompt freelancers if they wish include a manual payment along with the requested payment. *yet to figure out how best to add this

[2018-10-11 19:17] samuelralak commented on #206
@emurgobot claim

[2018-10-14 02:10] samuelralak commented on #206
Initial version done in #207

pending items
- [x] freelancers cannot see added manual payments
- [x] freelancers cannot edit/delete manual payments
- [ ] mods cannot reject a manual payment

will create seperate issues for the above once #207 is merged

[2018-10-14 02:10] samuelralak commented on #206
@emurgobot done

[2018-10-14 10:39] samuelralak opened #208 "problem: freelancers cannot view/modify manual payments"
problem: currently freelancers can add manual payments but cannot view added payments or remove/edit them.

solution: allow freelancers to view and delete manual payments. if they need to modify a payment, they can delete and add a  new one.

[2018-10-14 13:23] samuelralak commented on #208
@emurgobot done in #209

[2018-10-14 13:23] samuelralak commented on #208
@emurgobot claim

[2018-10-14 13:27] samuelralak commented on #208
@emurgobot done

done in #209

[2018-10-14 13:38] samuelralak opened #210 "problem: [/requestpayment] pending totals doesn't include manual payments sum"
problem: the pending total value only display total of unpaid timesheets and doesn't include the totals of requested manual payments

[2018-10-14 13:40] samuelralak opened #211 "problem: mods unable to reject manual payment requests"
problem: modal are only able to view manual payments attached to a given payment request but are unable to reject or give a rejection reason to the manual payment requests.

solution: allow mods to reject a manual request giving reason for rejection

[2018-10-14 13:41] samuelralak commented on #210
@emurgobot claim

[2018-10-14 14:16] #208 closed

[2018-10-14 14:16] #206 closed

[2018-10-15 15:10] porcellus commented on #148
@emurgobot claim

[2018-10-15 17:31] porcellus opened #213 "Problem: clicking sign in shows the auth modal as sign up"
This happens if you start a signup process then close the modal or - more importantly - if you sign up successfully and sign out then try to sign in again.
Solution: The modal should reset its state any time it's closed.

[2018-10-15 17:37] porcellus opened #214 "Problem: project stats include rejected payments and does not show manual payments"
I'm not sure how manual payments should show up (or even if they should at all), or if they should show up in a project.
Solution: fix the way we calculate project-wide stats excluding rejected payments and displaying manual payments

[2018-10-15 17:40] porcellus opened #215 "Problem: you can continue work on multiple issues at the same time"
This is inconsistent with starting work on multiple issues.
Solution1: disable the start button if there is another issue started
Solution2: upon clicking the continue button we should stop the other issue and continue the clicked one. In this case, we need to update the start logic as well.

[2018-10-15 17:43] porcellus opened #216 "Problem: freelancers can't mark an issue as finished if's not currently started"
This could be a use case if the freelancer is discussing if the fix is sufficient in the PR comments. Also, this would eliminate the jumping buttons, which is not nice but not really an issue on its own.
Solution: enable the finish button for paused issues

[2018-10-15 17:44] porcellus commented on #211
@emurgobot claim

[2018-10-15 18:00] porcellus commented on #148
@emurgobot done in #212

[2018-10-15 18:00] anbud commented on #215
If another issue is currently active, disabling the start button should be sufficient I believe. :)

[2018-10-15 18:03] anbud commented on #214
@emurgobot claim

[2018-10-15 19:14] porcellus opened #217 "Problem: freelancers can edit already paid/rejected timesheets"
They can do this by clicking the "Modified" flag next to Total times
Solution: disable/don't show editing options when viewing already paid/rejected timesheets

[2018-10-15 19:26] porcellus opened #218 "Problem: active timesheets included in payment requests"
This causes multiple problems, e.g.: the freelancer can continue to work on an already paid timesheet.
Solution: requesting payment should not include active timesheets or close them.

[2018-10-15 19:34] porcellus opened #219 "Problem: freelancers can't view manual payments requests on paid requests"
Solution: enable manual payments listings on paid requests and display their status.

[2018-10-15 20:55] anbud commented on #214
Done in #220.
Manual payments shouldn't be included in this list as they're not really related to existing EmurgoHK projects I believe.
@emurgobot done

[2018-10-15 21:39] anbud commented on #219
@emurgobot claim

[2018-10-15 21:42] porcellus commented on #211
@emurgobot done in #221

[2018-10-15 23:22] omar20261 commented on #213
@emurgobot claim

[2018-10-16 03:50] omar20261 commented on #217
@emurgobot claim

[2018-10-16 04:59] omar20261 commented on #217
@porcellus
i think the issue is the "status" field
if that field is has one of the following value .. "payment-paid" or "payment-rejected" or "payment-inprogress"
the remove and edit buttons will be disabled

![screenshot from 2018-10-16 06-52-24](https://user-images.githubusercontent.com/21290723/46993717-05fe4800-d111-11e8-8d3d-c15d8399d5c9.png)
see buttons disabled

so I was wondering what func

[2018-10-16 05:20] omar20261 commented on #216
@emurgobot claim

[2018-10-16 06:25] porcellus commented on #217
@omar20261 That's true, but you can edit them by clicking the modified flag if they have been modified.

[2018-10-16 07:02] gazhayes opened #223 "problem: not enough comments in the codebase"
problem: not enough comments in the codebase and much of the time it's not clear what's happening

solution:
when making change or writing new code please explain what you are doing with very clear comments, ideally there should be comments every 2-3 lines for any pull request from now on. This goes for all repositories (emurgo repositories and blockrazor).

Once you see this please acknowledge :)

[2018-10-16 07:09] #148 closed

[2018-10-16 07:10] #211 closed

[2018-10-16 07:13] anbud commented on #223
Acknowledged. :)

[2018-10-16 08:06] samuelralak commented on #223
I acknowledge 👍

[2018-10-16 08:08] MadanBhandari commented on #223
Acknowledged :100:

[2018-10-16 08:56] porcellus commented on #215
@emurgobot claim

[2018-10-16 09:45] porcellus commented on #215
@emurgobot done in #224

[2018-10-16 09:46] porcellus commented on #223
Ok

[2018-10-16 10:07] anbud commented on #213
@omar20261, if you believe that this problem is fixed in #222, you can mark this one as done. :)

[2018-10-16 10:18] porcellus opened #225 "Problem: the project has no defined style guide"
This causes differences even on very basic things like tab width between files. (e.g.: import/modules/helpers.js - import/modules/notifier.js)
Solution: We should adopt the one from another project (like blockrazor) or the standard meteor style guide and enforce it through running eslint in CI

[2018-10-16 10:20] gsovereignty commented on #225
There's one on Blockrazor, we should just adopt that. The key thing when it comes to mixing style guides and C4 is to keep the style guide very minimal, only adding things that really create problems if it's not followed.

Linting is frowned upon because it hides code smell which we kind of want to see... umm... smell.

[2018-10-16 10:24] gsovereignty commented on #213
FYI @omar20261 you do that by `@emurgobot done`

[2018-10-16 10:25] anbud commented on #219
Done in #226.

@emurgobot done

[2018-10-16 10:26] anbud commented on #218
@emurgobot claim

[2018-10-16 10:46] anbud commented on #225
I agree, different indentations can be quite annoying, but they're not a functional issue. We should adopt Blockrazor's minimal style guide and that should be sufficient.

There was a discussion about this some time ago on Blockrazor, and it was decided that linting would probably cause more troubles. It hides code smells, as @gazhayes said, and it would probably cause lots of failing CI tests. An

[2018-10-16 11:55] #215 closed

[2018-10-16 12:00] MadanBhandari commented on #225
What about creating new repo for style guide, where we will maintain at one place and link that repo every **Emurgo** and **Blockrazor** projects for style guide instead o/f copying same in every repo.

[2018-10-16 12:12] porcellus commented on #219
I don't think this is complete: there is still no display of status and rejection reason

[2018-10-16 13:07] porcellus commented on #225
I'm fine with what's in blockrazor. As for creating a separate repo for it: we could fork the Airbnb guide as that's what it is essentially. This is the best option in my opinion.

On the other issues: I think indentations can easily cause errors during coding and that in general having no enforced style guide slows down progress in the long run. I thought the point of linting was that it highligh

[2018-10-16 13:08] omar20261 commented on #213
@emurgobot done

[2018-10-16 14:07] anbud commented on #218
Done in #227.

@emurgobot done

[2018-10-16 14:36] #213 closed

[2018-10-16 19:30] omar20261 commented on #223
ok

[2018-10-16 20:10] anbud commented on #219
Hey, sorry, I missed the part about the status. Shall be fixed. :)

@emurgobot claim
@emurgobot remove "done"

[2018-10-16 20:32] anbud commented on #219
Done in #231.

@emurgobot done

[2018-10-17 09:34] porcellus commented on #217
I can still edit the timesheet by clicking on the flag next to "Total time" on an issue that had the timesheet modified.
 Please solve this by disabling the editing the issue on the timesheet entry page.
Besides, I don't think we should add "payment-inprogress" status to a timesheet that hasn't been assigned to a payment request, as that is assigned when the timesheet is added to a payment request

[2018-10-17 09:36] #219 closed

[2018-10-17 09:37] #218 closed

[2018-10-17 14:21] omar20261 commented on #217
okay I will check that

[2018-10-17 15:41] omar20261 commented on #217
@porcellus
did you finish Timesheet issue after my commit ?
because it will not effect on the issues already finished  before my commit
about "payment-inprogress" status .. I think you are right .. but we need a status when the developer finish an issue .. so what do you suggest ?

[2018-10-17 20:14] porcellus commented on #217
Yes. You can still do it exactly the way I described it, and I still suggest you do this by disabling editing on /entry and not do anything to the status of the timesheet, I mean it's fine to edit it after you finished it but before you requested payment for it. The problem is, as it was stated, that people can edit timesheets after they were paid or rejected (or requested to be paid for them but

[2018-10-18 06:35] MadanBhandari opened #233 "Problem : emurgolance.org is not secure"
Problem : emurgolance.org is not secure

Solution : Enable https, use letsencrypt or other SSL Certificates

ping @gazhayes

[2018-10-18 07:19] porcellus commented on #210
@emurgobot claim

[2018-10-18 07:40] porcellus commented on #216
@emurgobot claim

[2018-10-18 07:41] gsovereignty commented on #233
I've deployed SSL on the load balancer, this should now be solved but @MadanBhandari to confirm.

[2018-10-18 07:47] MadanBhandari commented on #233
Yes, this is now solved :)

[2018-10-18 07:47] #233 closed

[2018-10-18 07:55] MadanBhandari commented on #217
Hey @omar20261, When you solve issue by sending PR, don't forget to update issue with

[code]

[2018-10-18 08:00] MadanBhandari commented on #210
Hey @porcellus , When you solve issue by sending PR, don't forget to update issue with

[2018-10-18 08:05] omar20261 commented on #217
@emurgobot done

[2018-10-18 08:11] porcellus commented on #210
@emurgobot done in #234

[2018-10-18 08:11] porcellus commented on #216
@emurgobot done in #235

[2018-10-18 08:12] #217 closed

[2018-10-18 08:17] porcellus opened #236 "Problem: Paid earning doesn't include manual payments (/requestpayment)"
Solution: make it work based on Payments instead of Timesheets

[2018-10-18 08:47] #216 closed

[2018-10-18 08:58] porcellus commented on #236
@emurgobot claim

[2018-10-18 09:08] porcellus commented on #236
@emurgobot done in #237

[2018-10-18 11:15] #223 closed

[2018-10-18 11:20] #236 closed

[2018-10-20 07:05] AshHimself opened #238 "Problem: github login does not redirect"
Problem: github login does not redirect to home page, getting window not defined error

Solution: TBD, code needs fixing.

[2018-10-20 07:05] AshHimself commented on #238
@emurgobot claim

[2018-10-22 00:33] AshHimself commented on #238
For some reason I can't create a PR for this @gazhayes any ideas?

[2018-10-22 08:32] gsovereignty commented on #238
FYI for anyone having issues Github is being a dick today, they lost a data centre or something and are restoring from what I can only assume is a tape backup.

[2018-10-22 16:44] AshHimself commented on #238
a tape backup being delivered by camels

On Mon, Oct 22, 2018 at 4:58 PM Gareth Hayes <notifications@github.com>
wrote:

[2018-10-25 12:00] AshHimself commented on #238
@emurgobot claim

[2018-10-25 12:00] AshHimself commented on #238
Fixed in #240
@emurgobot label "done"
@emurgobot done

[2018-10-25 12:02] AshHimself opened #241 "problem: requesting payment details when they exist"
Problem: Getting the error "You have not yet added payment details. Please go to your settings and add the details" but I do in fact have payment details.

Solution: Fix the filter on what defined payment details have been added.

[2018-10-25 12:02] AshHimself commented on #241
@emurgobot claim

[2018-10-25 12:15] AshHimself commented on #241
Fixed in #242
@emurgobot label "done"
@emurgobot done

[2018-10-26 12:44] devhardeep opened #243 "Unable to run locally on windows environment"
Some error came when try to run locally on windows 10 environment.
tried both ways power shell and CMD. try to upgrade the packages but still not works.
![screenshot 17](https://user-images.githubusercontent.com/44496083/47566923-bc043600-d94a-11e8-84ca-6e6f9b858c46.png)
![screenshot 18](https://user-images.githubusercontent.com/44496083/47566925-bc043600-d94a-11e8-91ac-a5992dda41f6.png)

[2018-10-28 10:00] porcellus commented on #243
It runs/installed on my machine. I don't think it is related to emurgolance, node-sass just fails to install. It looks like something goes wrong when building it using msbuild. I suggest to try and update build tools and/or go take a look in this direction: https://github.com/nodejs/node-gyp/issues/629#issuecomment-153196245. If all else fails you could try asking the node-sass team.

[2018-10-28 10:01] porcellus commented on #225
Any update?

[2018-10-28 10:33] porcellus opened #244 "Problem: no tests for manual payments api"
Solution: add tests

[2018-10-28 10:35] porcellus commented on #244
@emurgobot claim

[2018-10-28 10:38] anbud commented on #243
Everything works for me as well. If all else fails, since you're on Windows 10, you can run Meteor in [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10). Since it's basically linux, it should run without issues.

That's how I'm running Blockrazor, as, for some weird reason, it only shows a blank page on Windows.

[2018-10-29 02:10] gsovereignty commented on #225
I just looked at the Blockrazor style guide, I'm not sure how it got there but it's not a C4 style guide. To work with the C4 it has to be extremely simple, if you can't remember it in the morning before coffee it's too complicated.

I'll claim this and add a basic style guide and provide some guidelines on how to add stuff to it.

[2018-10-29 02:10] gsovereignty commented on #225
@emurgobot claim

[2018-10-29 07:23] MadanBhandari opened #245 "Problem : Finishing issue doesn't exclude paused timing"
Problem : Finishing issue doesn't exclude paused timing [I found this on production]

ping @gazhayes

[2018-10-29 07:31] gsovereignty commented on #245
Can you explain that a bit more? I'm not sure if I understand.

[2018-10-29 07:51] MadanBhandari commented on #245
@gazhayes  Steps to reproduce
1. Start working on issue by entering url of issue
2. Pause for sometime
3. Finish issue by entering url of PR [when it's still on pause]

_PS : It works as expected, if issue is not paused._

I usually pause the issue till PR gets merged.

[2018-10-29 08:21] gsovereignty commented on #245
Ohhhh, yeah I get it now.

Do you have any ideas about a solution?

[2018-10-29 08:26] MadanBhandari commented on #245
I believe If we pick the logged time, instead of current time on while finishing issue, this should fix this.

Actually I am in middle of another issue on cardanoupdate, will look into this after this.

[2018-10-29 08:29] porcellus commented on #245
I was just about to comment that. timesheet/methods.js:270 -ish.

[2018-10-29 08:30] porcellus commented on #244
@emurgobot done in #246

[2018-10-29 08:59] MadanBhandari commented on #245
@emurgobot claim

[2018-10-29 09:18] MadanBhandari commented on #245
@emurgobot done in #247

[2018-10-29 16:39] #210 closed

[2018-10-29 16:40] #241 closed

[2018-10-29 16:40] #238 closed

[2018-10-29 16:41] #244 closed

[2018-10-30 08:59] #245 closed

[2018-10-30 21:51] porcellus opened #248 "Problem: not checking user when adding/removing manual payments"
In #244 I added some tests for this and they are skipped right now.
Solution: check user when modifying manual payments, enable skipped tests

[2018-10-30 21:51] porcellus commented on #248
@emurgobot claim

[2018-10-30 22:21] porcellus commented on #248
@emurgobot done in #249

[2018-10-31 08:07] #248 closed

[2018-11-12 02:10] MadanBhandari opened #250 "Problem : Some amount is stuck in current earnings"
Problem : Some amount is stuck in current earnings

Solution : I am not able reproduce this on development, but I have some amount as current earning on production (this isn't adding to new payment request) where all of the my worksheet is marked as either paid or pending. I think moderators can check my account on production.

ping @gazhayes

[2018-11-13 12:04] MadanBhandari commented on #250
@emurgobot testing post ...

@emurgobot claim

[2018-12-06 09:15] porcellus opened #251 "Problem: Freelancers can't message moderators"
Freelancers and moderators should be able to communicate on the site.

[2018-12-06 09:41] porcellus commented on #251
@emurgobot claim

[2018-12-07 16:05] porcellus commented on #251
@emurgobot done in #252

[2018-12-07 16:07] porcellus commented on #251
The UI isn't perfect (e.g.: no empty state for the messaging screen), but I would like to start on those finishing touches in separate issues.

[2018-12-07 22:36] geekyd opened #253 "Problem: freelancers can not generate invoices"
Problem: freelancers can not generate invoices.

Solution: Let users generate & download invoices.

[2018-12-07 22:36] geekyd commented on #253
@emurgobot cliam

[2018-12-07 22:36] dilpreetsio commented on #253
@emurgobot claim

[2018-12-08 09:02] porcellus commented on #253
Invoices can be complicated and subject to regulation that can be different for each country. Is there some kind of common ground/Is there a lib that can do this for us?

[2018-12-08 09:03] #251 closed

[2018-12-08 10:05] dilpreetsio commented on #253
The taxes for different countries is a hard thing to tackle here, but for generation of invoices we can use one of these https://libraries.io/search?keywords=invoice&languages=JavaScript. The common ground can be a simple invoice with the amount paid including the taxes.

Challenges are:
- Getting the rates
- Abiding by rules of different countries (We can use a library like https://github.com/val

[2018-12-08 10:39] anbud commented on #253
Yap, different countries have different invoice rules, and some can be quite hard to tackle.

In Serbia, most of the tax laws date back to communist Yugoslavia, so they can be weird sometimes. For example, in order for an invoice to be legally valid, it has to be in Serbian. It can have other languages on there, but each field has to have a Serbian text associated with it. Also, smaller companies

[2018-12-08 11:12] porcellus commented on #253
Yep, mostly the same here. No VAT for foreign entities, but I'm actually in the VAT system. In my case, it can be in other languages AFAIK. Maybe we could do something along the lines of uploading invoices because, for example, I have my own invoicing solution that is guaranteed to be ok in my country. I would prefer if we deferred these things to the freelancers. These things can be hard and I wo

[2018-12-08 11:13] porcellus opened #254 "Problem: no empty state when showing messages"
There should be some load indicator and an indicator that the conversation has loaded, but there are no messages, maybe pointing down to where the user can send messages

[2018-12-08 11:13] porcellus commented on #254
@emurgobot claim

[2018-12-08 11:43] porcellus commented on #254
@emurgobot done in #255

[2018-12-08 11:45] porcellus opened #256 "Problem: message notifications should be grouped"
If a user receives multiple notifications from the same room it should be grouped as it can flood the notifications screen.

[2018-12-08 11:45] porcellus commented on #256
@emurgobot claim

[2018-12-08 12:45] #254 closed

[2018-12-08 12:46] porcellus commented on #256
@emurgobot done in #257

[2018-12-08 12:47] porcellus opened #258 "Problem: notifications page table looks disjointed"
![image](https://user-images.githubusercontent.com/1129990/49686096-cee45b80-faef-11e8-843d-5bd5d5db2e29.png)

[2018-12-08 12:48] porcellus commented on #258
@emurgobot claim

[2018-12-08 14:10] anbud commented on #253
You’re absolutely correct, uploading existing invoices would be a better solution, as freelancers already know what invoices are acceptable in their respective countries.

[2018-12-08 14:42] porcellus opened #259 "Problem: Messaging is not ui-tested"
We should add a few UI tests for at least the basic functionality.

[2018-12-08 14:43] porcellus commented on #259
@emurgobot claim

[2018-12-08 15:50] porcellus commented on #258
@emurgobot done in #260

[2018-12-08 17:47] #256 closed

[2018-12-08 23:16] #258 closed

[2018-12-11 20:54] porcellus commented on #259
@emurgobot I'll finish it tomorrow morning.

[2018-12-12 08:22] porcellus opened #262 "Problem: Hitting github api rate limit on client on /issues"
![image](https://user-images.githubusercontent.com/1129990/49856143-5fbc7f00-fdef-11e8-872d-04096bbf2e9d.png)

[2018-12-12 08:22] porcellus commented on #262
@emurgobot claim

[2018-12-12 08:32] porcellus commented on #259
@emurgobot done in #261

[2018-12-12 08:45] porcellus commented on #262
IMHO: Issues should be only fetched&stored on the server with refresh requests throttled to 1/s.

[2018-12-12 08:46] porcellus commented on #262
+repos and repositories APIs should be merged.

[2018-12-12 12:12] #259 closed

[2018-12-12 13:20] porcellus opened #264 "Problem: GitHub API access is not throttled"
We should have a maximum frequency of update, display the timestamp of the last update and have something on the UI that starts this update instead of page refreshes.

[2018-12-12 13:20] porcellus commented on #264
@emurgobot claim

[2018-12-12 23:05] porcellus commented on #262
@emurgobot done in #263

[2018-12-12 23:05] #262 closed

[2018-12-13 09:41] porcellus commented on #264
@emurgobot done in #265

[2018-12-15 11:04] #264 closed

[2019-01-10 19:00] porcellus commented on #253
@emurgobot claim. I'll start on uploading/downloading invoices then.

[2019-01-14 17:59] porcellus commented on #253
@emurgobot claim

[2019-01-17 08:35] porcellus opened #266 "Problem: emurgolance.org certificate expired in production"
I'm not sure if this issue should be filed here, but:
![image](https://user-images.githubusercontent.com/1129990/51305447-2b199400-1a3b-11e9-812e-e3c07bc1cdeb.png)

[2019-01-17 08:59] MadanBhandari commented on #266
ping @gazhayes @anbud

[2019-01-17 20:50] porcellus commented on #253
@emurgobot done in #267

[2019-01-19 23:06] #253 closed

[2019-01-22 10:43] anbud commented on #266
Hmm, I don't think I have access to the production server, @gazhayes will have to tackle this. :)

[2019-03-29 14:09] porcellus opened #270 "Problem: potential security vulnerabilities in dependencies"
![image](https://user-images.githubusercontent.com/1129990/55238336-8d112980-5234-11e9-92c0-ca6e5baede27.png)

[2019-03-29 14:09] porcellus commented on #270
@emurgobot claim

[2019-03-29 14:20] porcellus opened #272 "Problem: open issues shows closed issues/prs"
It doesn't actually show which issues are open

[2019-03-29 14:20] porcellus commented on #272
@emurgobot claim

[2019-03-29 15:17] porcellus commented on #270
@emurgobot done in #271

[2019-03-29 15:17] #270 closed

[2019-03-30 12:10] porcellus commented on #272
@emurgobot done in #273

[2019-03-30 12:25] porcellus opened #274 "Problem: inconsistent formatting in js files"
#225 is inactive and enforcing strict linting/formatting rules on PRs conflict with C4, but I still think the project would benefit from a consistent code style. I propose periodically cleaning our codebase, this way we don't block PRs and still get the benefits.
Using `prettier` to do the formatting would make it very simple to have a consistent look. (it mainly reformats whitespaces)

[2019-03-30 19:19] #272 closed

[2019-04-05 12:51] porcellus opened #275 "Problem: Users don't get emailed about missed notifications"
This can cause them to miss messages or payment requests in case of mods.
Solution:
- we should add an email system
- verify user email addresses after registration.
- email users about unread notifications (e.g.: max once a day if there is an unread notification older than a day)

[2019-04-13 19:23] porcellus commented on #275
@gazhayes opinions?